html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
  body
  block content
    div.page-header.container
      div.jumbotron
          h1 Greetings from Bastian
          hr 
          table
            tr
              td <h5> <strong> Nama Lengkap
              td &nbsp
              td <h5> Bahari Bastian
            tr
              td <h5> <strong> Universitas/Instansi
              td &nbsp
              td <h5> Universitas Gadjah Mada
            tr
              td <h5> <strong> Jurusan
              td &nbsp
              td <h5> Ilmu Komputer dan Sistem Informasi
            tr
              td <h5> <strong> Angkatan
              td &nbsp
              td <h5> 2015
          hr
          h4 Motivasi saya mengikuti <strong> Fullstack Javascript Workshop </strong> adalah untuk belajar hal baru, mencari pengalaman, dan bertemu orang-orang hebat
          hr
          h6 Fullstack Javascript Workshop Technical Assignment
